.search{
    display: flex;
    flex-direction: column;
}
.headcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(169, 169, 169, 0.24);
    box-shadow: 0px -4px 0px 0px rgba(169, 169, 169, 0.418);
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.048);
}
.span{
    justify-content: center;
}
aside{
    display: flex;
    flex-direction: column;
    
}
.filters{ 
    display: flex;
    align-items: center;
    justify-content: center;
}